.fighter {
  display: grid;
  grid-template-columns: 4fr auto 1fr;
  flex: 1;
}

.name {
  font-size: 5rem;
  font-weight: bold;
  align-self: center;
  padding: 0 2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.resetButton {
  font-weight: bold;
  display: flex;
  padding: 1rem 2rem;
  appearance: none;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  background-color: red;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition:
    background-color 0.3s,
    box-shadow 0.3s;
}

.fighter1 {
  border-left: 3rem solid red;
}

.fighter2 {
  border-left: 3rem solid blue;
}

.fighter2 .score {
  background-color: green;
  color: yellow;
}

.nameInput {
  font-size: 4rem;
  font-weight: bold;
  padding: 0 2rem;
  border: none;
  outline: none;
  width: 100%;
}

.points {
  display: flex;
  justify-content: center;
  white-space: nowrap;
  align-items: center;
  padding: 0 2rem;
  gap: 2rem;
}

.pointButton {
  font-weight: bold;
  display: flex;
  padding: 1rem 2rem;
  flex: 1;
  appearance: none;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  background-color: green;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition:
    background-color 0.3s,
    box-shadow 0.3s;
}

.removeButton {
  background-color: red;
}

.pointControls {
  display: flex;
  flex-direction: column;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.details p {
  font-size: 3rem;
  padding: 2rem;
  margin: 0.2rem 0;
  font-weight: bold;
}

.penalties {
  color: red;
}

.advantages {
  color: green;
}

.score {
  font-size: 16rem;
  font-weight: bold;
  padding: 0 2rem;
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
